.App {
  height: 100vh;
}

.widget-container {
  position: relative; /* Use relative position */
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; /* Crop the top */
}

.subscribe-button {
  font-size: xx-large;
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 19, 2);
  color: white;
  padding: 15px 20px;
  border: 20%;
  cursor: pointer;
  outline: 10%;
  border-radius: 30px;
}

@media only screen and (max-device-width: 600px) {
  /* body {
    background-color: blue;
  } */
  .widget-container {
    background-image: url("/public/assets/8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .subscribe-button {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    width: 80%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 220, 11);
    color: rgb(7, 7, 7);
    padding: 30px 20px;
    border: 10%;
    cursor: pointer;
    outline: 10%;
    border-radius: 30px;
  }
}

/* Media Query for screens smaller than 576px (e.g., mobile phones) */
/* @media only screen and (min-width: 600px) {
  .widget-container {
    background-image: url("/public/assets/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .subscribe-button {
    font-size: medium;
    padding: 8px 12px;
    border-radius: 15px;
  }
} */

/* .back-button {
  background-color: blueviolet;
  color: white;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; 
  padding: 10px 20px;
  border-radius: 15px;
} */
